.section{
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include media-breakpoint-up(md){
        padding-bottom: 3rem;
        padding-top: 3rem;
    }
}

.page-hero{
    .page-hero-content{
        min-height:336px ;
    }
}




// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) { 

}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) { 

}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) { 

}

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) { 

}